/* Ini CSS */

main{
    padding: 32px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon{
    height: 100px;
    width: 100px;

    /* for image icon */
    background-image: url(https://picsum.photos/500/500);
    background-size: cover;
    border-radius: 50%;
}

nav >a{
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid black;
}

.banner-container {
    height: 500px;
    width: 100%;
    border: 1px solid black;
}

.profile-content{
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon{
    height: 50px;
    width: 50px;

    /* for image icon */
    background-size: cover;
    border-radius: 50%;
}

.profile-1{
    background-image: url(../assets/1.png);
}

.profile-2{
    background-image: url(../assets/2.png);
}

.profile-3{
    background-image: url(../assets/3.png);
}

.divider{
    flex: 2;
}